---
import Baselayout from "@/layouts/Baselayout.astro"
---

<Baselayout> 
  <div class="grid place-items-center h-screen" >
    <button class="btn btn-lg" > <a href={`${import.meta.env.BASE_URL}/pyq/`}>PYQs</a> </button>
  </div>
</Baselayout>

