---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="grid place-items-center h-screen" >
    <button class="btn btn-lg" > <a href="pyq/">PYQs</a> </button>
	</body>
</html>
