---
import Baselayout from "@/layouts/Baselayout.astro"
---

<Baselayout> 
  <div class="grid place-items-center h-screen" >
    <a class="btn btn-lg" href={`${import.meta.env.BASE_URL}/pyq/`}>PYQs</a> 
  </div>
</Baselayout>

