---
import BaseLayout from '@/layouts/Baselayout.astro';
import type { PageMetadata } from '@/types';
import Section1 from '@/components/showcase/section1.astro';
import Section2 from '@/components/showcase/section2.astro';
import Section3 from '@/components/showcase/section3.astro';
import Section4 from '@/components/showcase/section4.astro';
import Section5 from '@/components/showcase/section5.astro';
import Section6 from '@/components/showcase/section6.astro';
import Section7 from '@/components/showcase/section7.astro';
import Section8 from '@/components/showcase/section8.astro';
import Section9 from '@/components/showcase/section9.astro';
import Section10 from '@/components/showcase/section10.astro';
import Section11 from '@/components/showcase/section11.astro';
import Section12 from '@/components/showcase/section12.astro';
import Section13 from '@/components/showcase/section13.astro';

const page_metadata: PageMetadata = {
  title: 'Learning Trade | Hyper-Local Study Resources',
  description:
    'Access highly personalized Previous Year Question Papers (PYQ), study notes, and academic resources tailored to your college, branch, and semester. Share resources and earn followers.',
  open_graph: {
    title: 'Learning Trade - Personalized PYQ & Study Materials',
    type: 'website',
    image: 'page_fallback_opengraph_image.jpg',
  },
} as const;
---

<Baselayout page_metadata={page_metadata}>
  <div class="grid place-items-center h-screen">
    <a class="btn btn-lg" href={`${import.meta.env.BASE_URL}/explore/pyq/`}>PYQs</a>
  </div>
</Baselayout>
