---
import { ClientRouter } from "astro:transitions";
import {scaleFadeTransition} from './scaleFadeTransition.ts'
---
<!DOCTYPE html>
<html lang="en" transition:animate={scaleFadeTransition()}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <ClientRouter />
    <title></title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
@keyframes scaleFadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}

@keyframes scaleFadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
</style>
