---
import { ClientRouter } from "astro:transitions";
import { slideTransition } from "./slideTransition";
---
<!DOCTYPE html>
<html lang="en" transition:animate={slideTransition()}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <ClientRouter />
    <title></title>
  </head>
  <body>
    <slot />
  </body>
</html>
