---
import { ClientRouter,  } from "astro:transitions";
import { slideTransition } from "./slideTransition";
const curve = "cubic-bezier(0,1,0,1)"

---
<!DOCTYPE html>
<html lang="en" transition:animate={slideTransition({easing:curve, duration: 700})}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <ClientRouter />
    <title></title>
  </head>
  <body>
    <slot />
  
  </body>
</html>
