---
import BaseLayout from '@/layouts/Baselayout.astro'
interface Props {
  label: string
  breadcrumb_items: {label: string|number, link: string}[]
}
const { label, breadcrumb_items } = Astro.props
---
<BaseLayout>
  <header class="w-full flex flex-col gap-2 " transition:name="header"  > 
    <div class="w-full bg-slate/10 h-14 flex items-center px-6  " >
      <div class="w-full flex items-center gap-5" >
        <a href='../' class="btn btn-circle btn-ghost"> <div class="i-tabler:arrow-left size-7 " ></div></a>
        <h1 class="text-lg">{ label }</h1>
      </div>
    </div>
    <div class=" pl-6 breadcrumbs text-sm">
      <ul>
        {breadcrumb_items.map(item=>( 
          <li> <a href={item.link}> {item.label} </a> </li>
        ))}
      </ul>
    </div>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>

