
---
import BaseLayout from '@/layouts/Baselayout.astro'
interface Props {
  label: string
}
const { label} = Astro.props
---
<BaseLayout>
  <header class="w-full bg-slate/10 h-14 flex items-center px-6  " transition:name="header"  > 
    <div class="w-full flex" >
      <h1 class="text-lg">{ label }</h1>
    </div>
  </header>
  <main>
    <slot />
  </main>
</BaseLayout>

